.card {
    width: 28%;
    display: inline-block;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--light-gray);
    padding: 2rem;


    .containerImage {
        width: 60%;
        margin: auto;

        .image {
            height: 8rem;
            width: 10rem;
            margin: 0.5rem;
        }
    }


        .containerInfo {
            text-align: left;
        }
}