.footerContainer {
	background: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 5rem;
	width: 100%;
	position: static;
	left: 0;
	bottom: 0;

	.socialLink{
		color: var(--tertiary-color);
		font-size: 1.5rem;
		margin: 1rem;
	}

}

