.containerProfile {

    .title{
        font-size: 4rem;
        margin: 1rem;
        text-align: center;

    }

    .containerInfo {
        width: 45%;
        height: 12rem;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 0.5rem;
        border: 0.1rem solid var(--light-gray);
        padding: 2rem;

        p {
            font-size: 1.5rem;
        }
    }
}